head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="Loyalty, Gamification")
  meta(name="description", content="Loyalty 3.0 - Next Generation Loyalty Programme with Gamification")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  
  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='Loyalty 3.0 - Next Generation Loyalty Programme with Gamification')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='Loyalty 3.0 - Next Generation Loyalty Programme with Gamification')
  meta(property='fb:admins', content='APP_ADMIN')

  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/lib/bootstrap-datepicker/css/datepicker.css')
  link(rel='stylesheet', href='/css/common.css')
  link(rel='stylesheet', href='/css/animation.css')
  link(rel='stylesheet', href='/css/tablesorter.css')
  link(rel='stylesheet', href='/css/views/index.css')
  link(rel='stylesheet', href='/lib/select2/select2.css')
  link(rel='stylesheet', href='/lib/ng-table/ng-table.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
