<div class="mypanel" ng-controller="SobsController"> 
  <ul>
    <div class="page-header">
      <h1>Source of Business Details</h1>
    </div>
  </ul>
  <ul>
    <form class="form-vertical" ng-submit="create()"> 
      <div class="form-group">
        <tabset>


        </tabset>

	
            <label class="control-label" for="name">Name</label> 
            <div class="controls">
            	<input type="text" ng-model="sob.name" id="name" class="form-control"/>
            </div> 
	
            <label class="control-label" for="code">Code</label> 
            <div class="controls">
            	<input type="text" ng-model="sob.code" id="code" class="form-control"/>
            </div> 
	
            <label class="control-label" for="description">Description</label> 
            <div class="controls">
            	<input type="text" ng-model="sob.description" id="description" class="form-control"/>
            </div> 
	
            <label class="control-label" for="site">Site</label> 
            <div class="controls">
            	<input type="hidden" ui-select2="global.siteSelect" ng-model="sob.site"/>
            </div> 
	
            <label class="control-label" for="datasource">Data Source</label> 
            <div class="controls">
            	<input type="hidden" ui-select2="global.datasourceSelect" ng-model="sob.datasource"/>
            </div> 
	
            <label class="control-label" for="customer">Customer</label> 
            <div class="controls">
            	<input type="hidden" ui-select2="global.customerSelect" ng-model="sob.customer"/>
            </div> 
	
      </div> 
      <div class="form-group"> 
        <div class="controls"> 
          <input type="submit" class="btn btn-primary"> 
        </div> 
      </div> 
    </form>
  </ul>
</div>

