<div class="mypanel" ng-controller="SitesController" ng-init="find()">
  <ul>
    <div class="page-header">
      <h1>Sites</h1>
    </div>
  </ul>
  <ul>
      <table ng-table="tableParams" show-filter="true" class="table table-striped table-bordered table-condensed">
          <tr ng-repeat="site in sites">
            <td data-title="'Name'" filter="{ 'name': 'text' }"  sortable="name"><a href="#!/sites/{{ site._id }}">{{site.name}}</a></td>
            <td data-title="'Customer'" filter="{ 'customer': 'text' }"  sortable="customer.name">{{site.customer.name}}</td>
            <td><a href="#!/sites/{{ site._id }}/edit">Edit</a></td>
            <td><a href="" ng-click="remove(site)" >Remove</a></td>
          </tr>
      </table>
  </ul>
  <ul>
    <a href="#!/sites/create" class="btn btn-primary">Create a new site</a>
  </ul>
</div>