  <div ng-controller="SubscriptionsController"> 
  <ul>
    <div class="page-header">
      <h1>Create New Subscription</h1>
    </div>
  </ul>
    <ul>
      <form class="form-horizontal" ng-submit="create()"> 
        <div class="form-group"> 
          <label class="control-label" for="name">Name</label> 
          <div class="controls"> 
            <input type="text" ng-model="subscription.name" id="name" placeholder="Name" class="form-control"> 
          </div> 
        </div> 
        <div class="form-group"> 
          <label class="control-label" for="rate">Rate</label> 
          <div class="controls"> 
            <input type="text" ng-model="subscription.rate" id="rate" placeholder="Rate" class="form-control"> 
          </div> 
        </div> 
        <div class="form-group"> 
          <div class="controls"> 
            <input type="submit" class="btn btn-primary"> 
          </div> 
        </div> 
      </form>
    </ul>
  </div>
