<div ng-controller="LoyaltyMembersController" ng-init="find()">
  <ul>
    <div class="page-header">
      <h1>LoyaltyMembers</h1>
    </div>
  </ul>
  <ul>
      <table class="table table-striped table-bordered table-condensed">
          <tr><th>Scheme</th><th>First Name</th><th>Last Name</th><th>Card</th><th>Start Date</th><th>End Date</th><th>Points</th><th/><th/></tr>
          <tr ng-repeat="loyaltyMember in loyaltyMembers">
            <td><a href="#!/loyaltyMembers/{{ loyaltyMember._id }}">{{loyaltyMember.loyaltyScheme.name}}</a></td>
            <td><a href="#!/persons/{{ loyaltyMember.person._id }}">{{loyaltyMember.person.firstname}}</a></td>
            <td><a href="#!/persons/{{ loyaltyMember.person._id }}">{{loyaltyMember.person.lastname}}</a></td>
            <td><a href="#!/loyaltyMembers/{{ loyaltyMember._id }}">{{loyaltyMember.card}}</a></td>
            <td>{{loyaltyMember.start | date}}</td>
            <td>{{loyaltyMember.end | date}}</td>
            <td></td>
            <td><a href="#!/loyaltyMembers/{{ loyaltyMember._id }}/edit">Edit</a></td>
            <td><a href="" ng-click="remove(loyaltyMember)" >Remove</a></td>
          </tr>
      </table>
  </ul>
  <ul>
    <a href="#!/loyaltyMembers/create" class="btn btn-primary">Create a new LoyaltyMember</a>
  </ul>
</div>