<div ng-controller="RevenuesController"> 
  <ul>
    <div class="page-header">
      <h1>Modify Revenue</h1>
    </div>
  </ul>
  <ul>
    <form class="form-horizontal" ng-submit="update()" ng-init="findOne();populateLOVs()"> 
      <div class="form-group"> 
        <tabset>
          <tab heading="Details" select="detailsSelected(revenue)">
            <label class="control-label" for="code">Code</label> 
            <div class="controls"> 
              <input type="text" ng-model="revenue.code" id="code" class="form-control"> 
            </div> 
            <label class="control-label" for="datespent">Date Spent</label> 
            <div class="controls"> 
              <input type="text" ng-model="revenue.datespent" id="datespent" class="form-control" data-date-format="dd/mm/yyyy" bs-datepicker > 
            </div> 
            <label class="control-label" for="booking">Booking</label> 
            <div class="controls"> 
              <select ng-model="revenue.booking._id" name="booking" required="required" ng-options="c._id as c.name for c in rawcompanys"> 
                <option value="">Choose a Booking:</option>
              </select> 
            </div> 
          </tab>
          <tab heading="Other" select="otherSelected(revenue)">
            <label class="control-label" for="site">Site</label> 
            <div class="controls"> 
              <select ng-model="revenue.site._id" name="site" required="required" ng-options="c._id as c.name for c in sites"> 
                <option value="">Choose a Site:</option>
              </select> 
            </div> 
            <label class="control-label" for="customer">Customer</label> 
            <div class="controls"> 
              <select ng-model="revenue.customer._id" name="customer" required="required" ng-options="c._id as c.name for c in customers"> 
                <option value="">Choose a Customer:</option>
              </select> 
            </div> 
          </tab>
        </tabset>
      </div> 
      <div class="form-group"> 
        <div class="controls"> 
          <input type="submit" class="btn btn-primary"> 
        </div> 
      </div> 
    </form>
  </ul>
</div>