<div ng-controller="RevenuesController" ng-init="findOne()">
  <ul>
    <div class="page-header">
      <h1>View Revenue</h1>
    </div>
  </ul>
  <ul>
    <div  class="well well-small">
      <p>Code: {{ revenue.code }}</p>
      <p>Date Spent: {{ revenue.datespent | date }}</p>
      <p>Amount: {{ revenue.amount }}</p>
      <p>Currency: {{ revenue.currency.name }}</p>
      <p>Booking: {{ revenue.booking.code + ': ' + revenue.booking.start + ' - ' + revenue.booking.end }}</p>
      <p>Site: {{ revenue.site.name }}</p>
      <p>Customer: {{ revenue.customer.name }}</p>
    </div>
  </ul>
  <ul>
	  <a href="#!/revenues">View all Revenues</a>
  </ul>
</div>