<div class="mypanel" ng-controller="ChannelsController" ng-init="findOne()">
  <ul>
    <div class="page-header">
      <h1>View Channel</h1>
    </div>
  </ul>
  <ul>
    <div  class="well well-small">
      <p>Name: {{ channel.name }}</p>
      <p>Code: {{ channel.code }}</p>
      <p>Description: {{ channel.description }}</p>
      <p>Site: {{ channel.site.name }}</p>
      <p>Data Source: {{ channel.datasource.name }}</p>
      <p>Customer: {{ channel.customer.name }}</p>

    </div>
  </ul>
  <ul>
	  <a href="#!/channels">View all Channels</a>
  </ul>
</div>