<div ng-controller="CustomersController"> 
  <h2>{{ customer.name }}</h2>
  <br>
  <form class="form-horizontal" ng-submit="update()" ng-init="findOne()"> 
    <div class="control-group"> 
      <label class="control-label" for="name">Name</label> 
      <div class="controls"> 
        <input type="text" ng-model="customer.name" id="name" placeholder="Name"> 
      </div>      
    </div> 
    <div class="control-group"> 
      <div class="controls"> 
        <input type="submit" class="btn"> 
      </div> 
    </div> 
  </form>
</div>