  <div class="mypanel" ng-controller="LoyaltySchemesController"> 
  <ul>
    <div class="page-header">
      <h1>Create New LoyaltyScheme</h1>
    </div>
  </ul>
    <ul>
      <form class="form-vertical" ng-submit="create()"> 
        <div class="form-group"> 
          <label class="control-label" for="name">Name</label> 
          <div class="controls"> 
            <input type="text" ng-model="loyaltyScheme.name" id="name" placeholder="Name" class="form-control"> 
          </div> 
          <label class="control-label" for="code">Code</label> 
          <div class="controls"> 
            <input type="text" ng-model="loyaltyScheme.code" id="code" placeholder="Code" class="form-control"> 
          </div> 
          <label class="control-label" for="description">Description</label> 
          <div class="controls"> 
            <input type="text" ng-model="loyaltyScheme.description" id="description" placeholder="Description" class="form-control"> 
          </div> 
        </div> 
        <div class="form-group"> 
          <label class="control-label" for="rate">Rate</label> 
          <div class="controls"> 
            <input type="text" ng-model="loyaltyScheme.rate" id="rate" placeholder="Rate" class="form-control"> 
          </div> 
          <label class="control-label" for="active">Active</label> 
          <div class="controls"> 
            <div class="btn-group" bs-buttons-checkbox>
              <button type="button" class="btn btn-default" ng-model="loyaltyScheme.active">Is Active</button>
            </div>
          </div> 
        </div> 
        <div class="form-group"> 
          <div class="controls"> 
            <input type="submit" class="btn btn-primary"> 
          </div> 
        </div> 
      </form>
    </ul>
  </div>
