<div class="mypanel" ng-controller="PersonsController"> 
  <ul>
    <div class="page-header">
      <h1>Modify Person</h1>
    </div>
  </ul>
  <ul>
    <form class="form-vertical" ng-submit="update()" ng-init="findOne();populateLOVs()"> 
      <div class="form-group"> 

        <tabset>
          <tab heading="Details" select="detailsSelected(person)">
            <label class="control-label" for="title">Title</label> 
            <div class="controls"> 
              <input type="hidden" ui-select2="global.titleSelect" ng-model="person.title" ng-required="true"/>
            </div> 
            <label class="control-label" for="firstname">First Name</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.firstname" id="firstname" class="form-control"> 
            </div> 
            <label class="control-label" for="middlename">Middle Name</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.middlename" id="middlename" class="form-control"> 
            </div> 
            <label class="control-label" for="lastname">Last Name</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.lastname" id="lastname" class="form-control"> 
            </div> 
            <label class="control-label" for="gender">Gender</label> 
            <div class="controls"> 
              <div class="btn-group" ng-model="person.gender" bs-buttons-radio>
                <button type="button" class="btn btn-default" value="1">Male</button>
                <button type="button" class="btn btn-default" value="2">Female</button>
              </div>
            </div> 
            <label class="control-label" for="dob">Date of Birth</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.dob" id="dob" class="form-control" data-date-format="dd/mm/yyyy" bs-datepicker > 
            </div> 
            <label class="control-label" for="company">Company</label> 
            <div class="controls"> 
              <input type="hidden" ui-select2="global.companySelect" ng-model="person.company" ng-required="true"/>
            </div> 
          </tab>
          <tab heading="Home Contact" select="contactHomeSelected(person)">
            <label class="control-label" for="email">Email</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.email" id="email" class="form-control"> 
            </div> 
            <label class="control-label" for="homephone">Home Phone</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.homephone" id="homephone" class="form-control"> 
            </div> 
            <label class="control-label" for="homeaddress1">Home Address Line1</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.homeaddress1" id="homeaddress1" class="form-control"> 
            </div> 
            <label class="control-label" for="homeaddress2">Home Address Line2</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.homeaddress2" id="homeaddress2" class="form-control"> 
            </div> 
            <label class="control-label" for="homeaddress3">Home Address Line3</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.homeaddress3" id="homeaddress3" class="form-control"> 
            </div> 
            <label class="control-label" for="homesuburb">Home District</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.homesuburb" id="homesuburb" class="form-control"> 
            </div> 
            <label class="control-label" for="homecity">Home City</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.homecity" id="homecity" class="form-control"> 
            </div> 
            <label class="control-label" for="homepostcode">Home Postcode</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.homepostcode" id="homepostcode" class="form-control"> 
            </div> 
            <label class="control-label" for="homecountry">Home Country</label> 
            <div class="controls"> 
              <select ng-model="person.homecountry._id" name="homecountry" ng-options="c._id as c.name for c in countrys"> 
                <option value="">Choose a Country:</option>
              </select> 
            </div> 
          </tab>
          <tab heading="Work Contact" select="contactWorkSelected(person)">
            <label class="control-label" for="workphone">Work Phone</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.workphone" id="workphone" class="form-control"> 
            </div> 
            <label class="control-label" for="workaddress1">Work Address Line1</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.workaddress1" id="workaddress1" class="form-control"> 
            </div> 
            <label class="control-label" for="workaddress2">Work Address Line2</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.workaddress2" id="workaddress2" class="form-control"> 
            </div> 
            <label class="control-label" for="workaddress3">Work Address Line3</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.workaddress3" id="workaddress3" class="form-control"> 
            </div> 
            <label class="control-label" for="worksuburb">Work District</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.worksuburb" id="worksuburb" class="form-control"> 
            </div> 
            <label class="control-label" for="workcity">Work City</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.workcity" id="workcity" class="form-control"> 
            </div> 
            <label class="control-label" for="workpostcode">Work Postcode</label> 
            <div class="controls"> 
              <input type="text" ng-model="person.workpostcode" id="workpostcode" class="form-control"> 
            </div> 
            <label class="control-label" for="workcountry">Work Country</label> 
            <div class="controls"> 
              <select ng-model="person.workcountry._id" name="workcountry" ng-options="c._id as c.name for c in countrys"> 
                <option value="">Choose a Country:</option>
              </select> 
            </div> 
          </tab>
          <tab heading="Other" select="otherSelected(person)">
            <label class="control-label" for="site">Site</label> 
            <div class="controls"> 
              <select ng-model="person.site._id" name="site" required="required" ng-options="c._id as c.name for c in sites"> 
                <option value="">Choose a Site:</option>
              </select> 
            </div> 
            <label class="control-label" for="customer">Customer</label> 
            <div class="controls"> 
              <select ng-model="person.customer._id" name="customer" required="required" ng-options="c._id as c.name for c in customers"> 
                <option value="">Choose a Customer:</option>
              </select> 
            </div> 
          </tab>
        </tabset>      </div> 
      <div class="form-group"> 
        <div class="controls"> 
          <input type="submit" class="btn btn-primary"> 
        </div> 
      </div> 
    </form>
  </ul>
</div>