<div class="mypanel" ng-controller="PersonsController" ng-init="findPaged()">
  <ul>
    <div class="page-header">
      <h1>Persons</h1>
    </div>
  </ul>
  <ul>
    <form class="form-inline" role="form" ng-submit="findPaged()">
      <div class="form-group">
        <label class="sr-only" for="query">Search for Person</label>
        <input type="text" class="form-control" ng-model="query" id="query" placeholder="Enter Firstname Lastname">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </ul>
  <ul>
      <table class="table tablesorter table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th class="header" ng-class="sortClass.title" ng-click="changeSort('title')">Title</th>
              <th class="header" ng-class="sortClass.firstname" ng-click="changeSort('firstname')">Name</th>
              <th class="header" ng-class="sortClass.dob" ng-click="changeSort('dob')">Date of Birth</th>
              <th>Company</th>
              <th>Customer</th>
              <th>Site</th>
              <th/>
              <th/>
            </tr>
          </thead>
          <tr ng-repeat="person in persons">
            <td>{{person.title.name}}</td>
            <td><a href="#!/persons/{{ person._id }}">{{person.firstname}} {{person.middlename}} {{person.lastname}}</a></td>
            <td>{{person.dob | date}}</td>
            <td>{{person.company.name}}</td>
            <td>{{person.customer.name}}</td>
            <td>{{person.site.name}}</td>
            <td><a href="#!/persons/{{ person._id }}/edit">Edit</a></td>
            <td><a href="" ng-click="remove(person)" >Remove</a></td>
          </tr>
      </table>
  </ul>
  <ul>
    <pre>Total: {{totalItems}}</pre>
  </ul>
  <ul>
    <pagination total-items="totalItems" page="currentPage" max-size="maxSize" class="pagination-small" 
      boundary-links="true" rotate="false" num-pages="numPages" on-select-page="pageChanged(page)" >
    </pagination>
  </ul>
  <ul>
    <a href="#!/persons/create" class="btn btn-primary">Create a new Person</a>
  </ul>
</div>