<div ng-controller="PersonsController" ng-init="find()">
  <ul>
    <div class="page-header">
      <h1>Persons</h1>
    </div>
  </ul>
  <ul>
      <table class="table table-striped table-bordered table-condensed">
          <tr><th>Name</th><th>Customer</th><th>Site</th><th/><th/></tr>
          <tr ng-repeat="person in persons">
            <td><a href="#!/persons/{{ person._id }}">{{person.firstname}} {{person.middlename}} {{person.lastname}}</a></td>
            <td>{{person.customer.name}}</td>
            <td>{{person.site.name}}</td>
            <td><a href="#!/persons/{{ person._id }}/edit">Edit</a></td>
            <td><a href="" ng-click="remove(person)" >Remove</a></td>
          </tr>
      </table>
  </ul>
  <ul>
    <a href="#!/persons/create" class="btn btn-primary">Create a new Person</a>
  </ul>
</div>