<div ng-controller="PersonsController" ng-init="findOne()">
  <ul>
    <div class="page-header">
      <h1>View Person</h1>
    </div>
  </ul>
  <ul>
    <div  class="well well-small">
      <p>Title: {{ person.title.name }}</p>
      <p>First Name: {{ person.firstname }}</p>
      <p>Middle Name: {{ person.middlename }}</p>
      <p>Last Name: {{ person.lastname }}</p>
      <p>Gender: {{ person.gender }}</p>
      <p>Date of Birth: {{ person.dob | date }}</p>
      <p>Email: {{ person.email }}</p>
      <p>Home Phone: {{ person.homephone }}</p>
      <p>Home Address1: {{ person.homeaddress1 }}</p>
      <p>Home Address2: {{ person.homeaddress2 }}</p>
      <p>Home Address3: {{ person.homeaddress3 }}</p>
      <p>Home District: {{ person.homesuburb }}</p>
      <p>Home City: {{ person.homecity }}</p>
      <p>Home Postcode: {{ person.homepostcode }}</p>
      <p>Home Country: {{ person.homecountry.name }}</p>
      <p>Work Phone: {{ person.workphone }}</p>
      <p>Work Address1: {{ person.workaddress1 }}</p>
      <p>Work Address2: {{ person.workaddress2 }}</p>
      <p>Work Address3: {{ person.workaddress3 }}</p>
      <p>Work District: {{ person.worksuburb }}</p>
      <p>Work City: {{ person.workcity }}</p>
      <p>Work Postcode: {{ person.workpostcode }}</p>
      <p>Work Country: {{ person.workcountry.name }}</p>
      <p>Site: {{ person.site.name }}</p>
      <p>Customer: {{ person.customer.name }}</p>
    </div>
  </ul>
  <ul>
	  <a href="#!/persons">View all Persons</a>
  </ul>
</div>